    <div class="row">
        <div class="horizontal-label">
            Model
        </div>

        <select class="form-control js-model">
            {{#each items}}
                <option value="{{id}}" name="{{ru_name}}"
                    {{#selectedValue id ../selectedModel.id}} selected="selected" {{/selectedValue}}
                    >{{ru_name}}
                </option>
            {{/each}}
        </select>
    </div>
