<div class="container">
    <div class="row">
        <div class="horizontal-label">
            Year
        </div>
        <select class="form-control">
            {{#each years}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select>
    </div>
    <div class="row" id="manufacturer">
        <div class="horizontal-label">
            Manufacturer
        </div>
        <select class="form-control">
            {{#each manufacturers}}
                <option value="{{id}}">{{ru_name}}</option>
            {{/each}}
        </select>
    </div>
</div>