@font-face {
  font-family: Fregat;
  src: url("/style/fonts/Fregat_regular.otf") format("opentype"); }

@font-face {
  font-family: Fregat;
  font-weight: bold;
  src: url("/style/fonts/Fregat_bold.otf") format("opentype"); }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Fregat", sans-serif;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  list-style-type: none; }

.navigation_item {
  width: 10rem;
  height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 2rem; }
  @media (max-width: 37.5rem) {
    .navigation_item {
      width: 7rem;
      margin: 1rem 1rem; } }

.navigation_item--selected {
  background-color: #0F1000;
  color: white; }

.navigation_item__href {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.navigation_item__href:active,
.navigation_item__href:visited,
.navigation_item__href:hover {
  text-decoration: none;
  color: white;
  font-weight: bold; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header_logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: url("http://www.etachki.com/++theme++theme.etachka/images/logo.svg") #fff center -1px no-repeat;
  background-size: 84%;
  width: 260px;
  height: 82px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 8px 19px 0px rgba(50, 50, 50, 0.82);
  margin-bottom: 3rem; }
