@import '../mixins/breakpoint';

.media {
  display: flex;
  align-items: flex-start;
  border-radius: 5px 5px 5px 5px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 2px 2px 20px 2px #4c4b4b;
}

.media__figure {
  width: 15rem;
  height: 10rem;
  margin-right: 1rem;
  @include breakpoint(mobile) {
    width: 8rem;
    height: 5rem;
  }
}

.media__body {
  flex: 1;
}