@import 'constants/colors';
@import 'constants/typography';
@import 'content';


body {
  font-size: $font-size;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 5rem;
  background: $page-background;
}