@font-face {
  font-family: Fregat;
  src: url("/style/fonts/Fregat_regular.otf") format("opentype"); }

@font-face {
  font-family: Fregat;
  font-weight: bold;
  src: url("/style/fonts/Fregat_bold.otf") format("opentype"); }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  font-family: "Fregat", sans-serif;
  list-style-type: none; }

.navigation_item {
  margin: 0 2rem;
  background-color: black;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  overflow: hidden; }

.navigation_item--selected {
  background-color: grey;
  color: white; }

.navigation_item__href {
  text-decoration: none; }
