@import 'constants/colors';
@import 'constants/typography';

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  font-family: $font-family;
  align-self: center;
  list-style-type: none
}

.navigation_item {
  width: 12rem;
  height: 3rem;
  display: flex;
  margin: 2rem 2rem;
  background-color: $navlink;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

}

.navigation_item--selected {
  background-color: $navlink-selected;
  color: $font-color;
}

.navigation_item__href {
  text-decoration: none;
  color: $font-color;
  font-weight: bold;
}

.navigation_item__href:active,
.navigation_item__href:visited,
.navigation_item__href:hover {
  text-decoration: none;
  color: $font-color;
  font-weight: bold;
}

